* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

a{
    color: #fefefe;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    color:#45958b;
}


body{
    font-family: 'poppins',sans-serif;
    font-weight: 400,700;
    background-color: #181f2a;
    color: #fefefe;
}


#navbar{
    position: sticky;
    top: -5px;
    width: 100%; 
    margin: 0 auto;
}

.navigation{
    display: flex;
    width: 80%;
    padding: 20px;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}



#navbar{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    background-color: #181f2a;
    padding: 20px;
    height: 80px;  
}


.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#logo{

    cursor: pointer;
}


#nav-links{
    padding: 0px 80px;
}
#nav-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
} 
#nav-links li a{
    font-size: 18px;
    padding: 0px 25px;
    
}

.socials img{
    padding: 0px 20px;
}




  



#welcome-section{
    height: 100vh;
}

.welcome-row{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
    padding: 80px 0px;
    width: 90%;
    margin: 0 auto;
}

#image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#image img{

    margin-top: -40px;
    width: 85%;
    border-radius: 50%; 
     
}


.introduction{
    padding: 40px 15px 40px 15px;
}

#name{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #45958b;
    margin: 0px 0px 15px 0px;
    
}

h1{
    font-size: 86px;
    font-weight: 500;
    line-height: 95px;
    margin-bottom: 10px;

}

.introduction p{
    font-size: 24px;
    font-weight: 300px;
    padding-top:30px;

}

#image{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/* .projects{
    padding: 80px 0px;
} */
.project-heading{
    width: 90%;
    margin: 0 auto;
}

.project-heading h2{

    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
  
    
}

.project-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding: 40px 0px;

}

.project-tile{
    margin: 20px;
    background-color:#202a3c;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;

}

.project-tile img{
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0px 0px;
}

.project-tile h3{
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
}

#contact{
    padding: 80px 0px;
}
.contact-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background-color: #202a3c ;
    border-radius: 15px;
    height: 300px;
    
}

.content{
    padding: 30px 0px;
    text-align: center;
}
.content h2{
    font-size: 70px;
    line-height: 95px;
    font-weight: 500;
    

}

.content p{
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    
}

.contact-btn{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    padding: 20px 60px;
    border-radius: 15px;
    border: none;
    
    background-color: #035f54;
    color: #fefefe;
    
}

.contact-btn:hover{
    cursor: pointer;
}

/* footer */


.footer-row{
    background-color:#202a3c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;   
}

#footer-logo{
    cursor: pointer
}

.footer-content ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.footer-content ul li{
    padding: 18px 25px;
}
.footer-content li :hover{
    cursor: pointer;
}

.footer-content h2{
    font-size: 20px;
    font-weight: 400;
}


/* mobile views */
@media (min-width: 320px) and (max-width:425px){
   
   #logo{
       width: 60px;
       height: auto;
       position: relative;
       right: 30px;
   }
   
    .socials{
        display: none;
        
    }
   

    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
    }


    #nav-links{
        padding:0;
    }

    #nav-links li a{
        font-size: 16px;
        padding: 10px;
    }
    
    #welcome-section{
        height: auto;
    }
    .welcome-row{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        padding: 20px 0px;
    }

    .introduction, #image{
        width: 100%;
    }

    #name{
        font-size: 18px;
        margin: 0;
    }

    h1{
        font-size: 50px;
        font-weight: 600;
        line-height: 60px;
    }

    .introduction p{
        font-size: 18px;
        padding-top: 15px;
    }

    .project-heading h2{
        font-size: 30px;
    }

    .project-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
    
    }




.content h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 15px;
    
    

}

.content p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 200;
    margin-bottom: 20px;
    
}

.contact-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
    
    

}


.contact-btn{
    font-size: 16px;
    margin-top: 10px;
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    background-color: #45958b;
    color: #fefefe;
    width: 80%;
    
}



    .footer-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;   
    }

    
}



@media(width:768px){

    #nav-links{
        padding: 0 40px;
    }
    .socials{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
   
   
    #name{
        font-size: 16px;
        margin: 0;
    }
    .introduction h1{
        font-size: 55px;
        line-height: 56px;
    }

    .introduction p{
        font-size: 18px;
        padding: 15px 0 0 0;
    }


    .project-heading h2{
        font-size: 30px;
    }

    .content h2{
        font-size: 50px;
        line-height: 66px;
    }
    .content p{
        margin: 0 0 10px 0;
        padding: 0;

    }

    .contact-btn{
        padding: 10px 30px;
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 1440px){
    .socials{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
   
    .introduction{
        padding: 20px 0;
    }
    #image{
        align-items: flex-end;
    }

    #image img{
        margin: 0;
        width: 70%;
    }
    .project-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 100%;
    
    }

    .project-tile{
        width: 300px;
        margin: 10px;
    }


    
}

@media(width: 1440px){
    .project-tile{
        width: 300px;
        margin: 10px;
    }
}

 @media (min-width: 1441px) and (max-width: 2560px){
    .project-tile{
        width: 600px;
        margin: 20px;
    }
} 

@media(width:2560px){
    
    #welcome-section{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #name{
        font-size: 35px;
    }
    .introduction h1{
        font-size: 180px;
        line-height: 198px;
    }

    .introduction p{
        font-size: 50px;
        padding: 60px 0 0 0;
    }
}
