* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'poppins',sans-serif;
    font-weight: 400,700;
    background-color: #181f2a;
    color: #fefefe;
}


#navbar{
    position: sticky;
    top: -5px;
    width: 100%; 
    margin: 0 auto;
}

.navigation{
    display: flex;
    width: 80%;
    padding: 20px;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}



#navbar{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    background-color: #181f2a;
    padding: 20px;
    height: 80px;  
}


.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#logo{
    /* padding: 15px 0px 15px 0px; */
    cursor: pointer;
}


#nav-links{
    padding: 0px 80px;
}
#nav-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
} 
#nav-links li a{
    padding: 0px 25px;
    color: #fefefe;
    text-decoration: none;
}

#nav-links li a:hover{
    cursor: pointer;
    color:#45958b;
    
}


.row{
    width: 90%;
    margin: 0 auto;
    border: 1px red solid; 
} 


#welcome-section{
    height: 100vh;
}

.welcome-row{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
    padding: 80px 0px;
    width: 90%;
    margin: 0 auto;
}

#image img{

    width: 80%;
    border-radius: 50%;
    padding-left: 60px;
}


.introduction{
    padding: 40px 15px 40px 15px;
}

#name{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #45958b;
    margin: 0px 0px 15px 0px;
    
}

h1{
    font-size: 86px;
    font-weight: 500;
    line-height: 95px;
    margin-bottom: 10px;

}

.introduction p{
    font-size: 24px;
    font-weight: 300px;
    padding-top:30px;

}

#image{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/* .projects{
    padding: 80px 0px;
} */
.project-heading{
    width: 90%;
    margin: 0 auto;
}

.project-heading h2{

    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
  
    
}

.project-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding: 40px 0px;

}

.project-tile{
    width: 350px;
    margin: 10px 0px;
    background-color:#202a3c;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;

}

.project-tile img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.project-tile h3{
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}

#contact{
    padding: 50px 0px;
}
.contact-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background-color: #202a3c ;
    border-radius: 15px;
    height: 300px;
    
}

.content{
    padding: 30px 0px;
    text-align: center;
}
.content h2{
    font-size: 70px;
    line-height: 95px;
    font-weight: 500;
    

}

.content p{
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    
}

.contact-btn{
    font-size: 20px;
    margin-top: 10px;
    padding: 20px 60px;
    border-radius: 15px;
    border: none;
    background-color: #45958b;
    color: #fefefe;
    
}


